@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Information will be stored here. Eventually. Cause I doubt I'll have time for this specific homeowrk.</p>
