@{
    ViewData["Title"] = "Home Page";
}

<h2>HomePage</h2>

<p>Welcome to a web app made by someone who really doesn't understand that the due date and do dates are different!</p>
<p>To Do Here: Figure out how to make the page tabs above, figure out the database for skeletal use, rename all this stuff.</p>